* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;

  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}
/* PRODUCT INFO */
/* PRODUCT DETAIL */

.product-title {
  background: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 15px;

  grid-column: 1 / -1;
}
.product-image {
}
/* PRODUCT INFO */
.product-info {
  margin-top: 20px;
}
.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.product-price {
  font-size: 20px;
}
.product-shipping {
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.product-description {
  margin-bottom: 10px;
}
/* logo */
.sale {
  content: "sale";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ec2f2f;
  color: #fff;

  display: inline-block;
  padding: 7px 15px;

  position: absolute;
  top: -17px;
  left: -38px;
}
/* PRODUCT INFO Link */
.more-info:link,
.more-info:visited {
  color: #000;
  margin-bottom: 30px;
  display: inline-block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
/* COLORS */
.colors {
  display: flex;
  gap: 10px;
}
.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}
.color-blue {
  background-color: #2f6ee2;
}
.color-red {
  background-color: #ec2f2f;
}
.color-yellow {
  background-color: #f0bf1e;
}
.color-green {
  background-color: #90cc20;
}
.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */
.product-details {
}
.product-detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.product-detail-list {
  list-style: square;
  margin-left: 20px;
}
.product-detail-list li {
  margin-bottom: 10px;
}

/* PRODUCT BUTTON */
.cart-btn {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-top: #000 solid 4px;
  width: 100%;
  padding: 15px;

  grid-column: 1 / -1;
}
.cart-btn:hover {
  background-color: #fff;
  color: #000;
}
