/********************/
/* HEADER */
/********************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;

  padding: 0 4.8rem;
  /* Header Sticky later */
  height: 9.6rem;
}
.logo {
  height: 2.2rem;
}

/**********************/
/* NAVIGATION */
/**********************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  border-radius: 9px;
  padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/************************/
/* HERO SECTION */
/************************/

.section-hero {
  background-color: #fdf2e9;

  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;

  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2em;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: solid 3px #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: 700;
  color: #cf711f;
}

.hero-img {
  width: 100%;
}

/***********************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #888;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/************************/
/* HOW IT WORKS SECTION */
/************************/

.section-how {
  padding: 9.6rem 0;
}
.step-text-box {
}
.step-number {
  font-size: 8.6rem;

  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.step-img {
  width: 35%;
}

.step-img-box::before,
.step-img-box::after {
  display: block;
  content: "";
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

/*****************/
/* MEALS SECTION */
/*****************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-img {
  width: 100%;
}

.meal-content {
  padding: 4.8rem;
  padding-top: 3.2rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #333;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  font-display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #cf711f;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}
